@import "normalize"
@import "nib"

body
	background #A8A8A8
	position relative

input
select
	border-radius 5px
	border 1px solid rgb(169, 169, 169)
	
	&:active
		outline 0px
.Error-Border
	border solid 2px #FF2C32

.Button-Send
	background-color #33cc77
	border none
	border-radius 5px
	color #fff
	display block
	font-size 1em
	margin 1em auto
	padding 0.2em 0.5em
	width 90%
	
	&:active
		outline none
		border none
		
.Checkbox-Container
	display block
	font-size 1em
	margin 1em auto
	padding 0.2em 0.5em
	position relative
	width 90%
	
	input
		position absolute
		left 11em
		top 0.6em

.Form-Container
	height auto
	margin-top 2em
	width 100%

.Form-Personal
	background #FFF
	margin 0 auto
	overflow hidden
	width 50%

.Input-Text
	background transparent
	display block
	font-size 1em
	margin 1em auto
	padding 0.2em 0.5em
	width 90%

.Input-Select
	background transparent
	display block
	font-size 1em
	margin 1em auto
	padding 0.2em 0.5em
	width 90% + 3px

.Normal
	background #FFA722

.RadioButton-Container
	display block
	font-size 1em
	margin 1em auto
	padding 0.2em 0.5em
	width 90%
	
	ul
		padding 0
		li
			display inline-block

.Reboot
	background #FF2C32

.Span-Error	
	display block
	font-size 1em
	margin 1em auto
	padding 0.2em 0.5em
	width 90%
	border 1px solid #FF2C32
	text-align center
	padding 0.5em
	border-radius 5px
	background #FF2C32
	color white

.Success
	background #33cc77

.Text-Error
	color #FF2C32
	
.Title
	color #FFF
	font-family Arial
	margin 0
	padding 0.6em
	text-align center