@import "normalize"
@import "utils"
@import "nib"
@import "checkbox"

body
	background #C0C0C0

.Info-buttonSubmit
	border none
	border-radius 5px
	color #fff
	padding 0.2em 0.5em
	width 516px
	
	&:active
		outline none
		border none

.Info-checkboxContainer
	padding 0.2em 0.5em
	position relative
	width 516px
		
.Info-checkboxLabel
	color #777
	margin 0.3em 1em 0 0

.Info-container
	background white
	border-radius 20px
	margin-top 50px
	overflow hidden
	width 700px

.Info-input
	background-color: #eee;
	border-radius 3px
	color: #777;
	padding 0.5em
	width 500px

.Info-radioContainer
	padding 0.2em 0.5em
	position relative
	width 516px
	
	ul
		padding 0
		li
			color #777
			display inline-block
			margin-right 1em
			
.Info-radioLabel
	color #777
	

.Info-select
	background-color: #eee;
	border-radius 3px
	color: #777;
	padding 0.5em
	width 516px
	
.Info-title
	border-radius 20px 20px 0 0
	color white
	font-weight: 500
	margin 0
	padding .3em 0
	text-align center

.Login-button
	border-radius 5px
	color #fff
	margin-bottom: 1em
	padding 0.2em 0.5em
	width 300px

.Login-container
	background white
	border-radius 20px
	margin-top 100px
	overflow hidden
	width 400px

.Login-input
	background-color: #eee;
	border-radius 3px
	color: #777;
	padding 0.5em
	width 300px

.Login-title
	border-radius 20px 20px 0 0
	color white
	font-weight: 500
	margin 0
	padding .3em 0
	text-align center