.background-green
	background #33CC77
	
.background-orange
	background #FFA722
	
.background-red
	background #FF2C32

.background-transparent
	background transparent

.block-center
	display block
	margin 1.5em auto

.border-green
	border solid 2px #0CCC68
	
.border-orange
	border solid 2px #FF9C00
	
.border-red
	border solid 2px #FF2C32
	
.span-error
	padding 0.2em 0.5em
	text-align center
	padding 0.5em
	border-radius 5px
	color white
	width 300px