{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Datos Personales</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/estilos.css" %}">
	<link rel="icon" type="image/png" href="{% static "img/icono.png" %}"/>
</head>
<body>
	<section class="Container">
		<article class="Form-Container">
			<form action="" method="POST" class="Form-Personal">
				{% csrf_token %}
				
				{# Titulo #}
				{% if success %}
					<h2 class="Title Success">
						Rellena Los Campos
					</h2>
				{% elif form.errors %}
					<h2 class="Title Reboot">
						Rellena Los Campos
					</h2>
				{% else %}
					<h2 class="Title Normal">
						Rellena Los Campos
					</h2>
				{% endif %}
				{# Titulo #}

				
				{# Campo Nombre #}
				{{form.nombre}}
				{% if form.nombre.errors %}
					<span class="Span-Error">{{form.nombre.errors.as_text|cut:"*"}}</span>
				{% endif %}
				{# Campo Nombre #}
				
				{# Campo Estado Civil #}
				{{form.estadoc}}
				{% if form.estadoc.errors %}
					<span class="Span-Error">{{form.estadoc.errors.as_text|cut:"*"}}</span>
				{% endif %}
				{# Campo Estado Civil #}
				
				{# Campo Ser Humano #}
				<div class="Checkbox-Container">
					{% if form.es_humano.errors %}
						<label for="es_humano" class="Checkbox-Label Text-Error">No Eres Humano</label>
					{% else %}
						<label for="es_humano" class="Checkbox-Label">Acepto Ser Humano</label>
					{% endif %}
					{{form.es_humano}}
				</div>
				{# Campo Ser Humano #}

				{# Campo Deporte #}
				<div class="RadioButton-Container">
					{% if form.deporte.errors %}
						<span class="RadioButton-Label Text-Error">No Seleccionaste un Deporte</span>
					{% else %}
						<span class="RadioButton-Label">Selecciona un Deporte</span>
					{% endif %}
					{{form.deporte}}
				</div>
				{# Campo Deporte #}
				
				{# Boton Enviar #}
				<button class="Button-Send"type="submit">Enviar</button>
				{# Boton Enviar #}

			</form>
		</article>
	</section>
</body>
</html>